__pycache__/
*.py[cod]
data/
!data/data_README.md
!data/test_tremor_data.md
models/
!models/models_README.md
features/
!features/features_README.md
predictions/
!predictions/predictions_README.md
plots/
!plots/plots_README.md
controller/
scripts/*.pkl
!scripts/online_WIZ_isotonic_calibrator.pkl
scripts/posteriors/
scripts/frames*
_tmp/
.vscode/
*.png
scripts/*.txt
scripts/*_alert
scripts/alert.csv
scripts/*.err
